@use 'theme' as *;

@import "foundation/preflight.css";

@use "@fontsource/alegreya-sc/scss/mixins" as AlegreyaSansSc;
@use "@fontsource/cormorant/scss/mixins" as Cormorant;

@include Cormorant.faces(
    $dir: "../fonts/cormorant",
    $weights: (
        500,
        600,
    )
);

body {
    font-synthesis: none;
    max-width: 65ch;
    @include text(gray(), xl, serif);
    @include box($mx: auto, $px: 4, $py: 4);
    @include surface(stone(50));
}
