@import url('https://fonts.googleapis.com/css2?family=Alegreya:wght=400..900&display=swap');

body {
	max-width: 65ch;
	margin: 2em;
	line-height: 1.7;
	font-size: 1.4em;
	color: #333;
	font-family: 'Alegreya', serif;
}

p { white-space: normal; }

.subdoc { padding-right: 1em; }
.chapter { font-size: 0.9em; padding-right: 0.5em; color: #666; }
.verse { font-size: 0.8em; padding-left: 0.5em; padding-right: 0.8em; color: #666; }
.prose-format .sentence:not(:last-child)::after { content: '—'; padding: 0 0.4em; color: #666; }

.verb { font-weight: bolder; }
.nominative { color: #0d9488; }
.accusative { color: #2563eb; }
.genitive { color: #7c3aed; }
.dative { color: #db2777; }
.vocative { color: #ca8a04; }

.highlight { background-color: rgb(254 240 138); }
