@import url('https://fonts.googleapis.com/css2?family=Alegreya&display=swap');

body {
	max-width: 65ch;
	margin: 4em auto;
	line-height: 1.5;
	font-size: 1.2em;
	color: #333;
}

pre { font-family: 'Alegreya', serif; }

p { white-space: normal; }

.subdoc { padding-right: 1em; }
p .sentence:not(:last-child)::after { content: '  —   '; }

.verb { font-weight: bold; }
.nominative { color: #0d9488; }
.accusative { color: #2563eb; }
.genitive { color: #7c3aed; }
.dative { color: #db2777; }
.vocative { color: #ca8a04; }

.highlight { background-color: rgb(254 240 138); }
